form#generosSeries, form#generosMovies {
    display: none;
}
h3#yourResults{
    display: none;
}
.inputCheckboxGeneros{
    height: auto;
    width: auto;
}
div#divGenerosSeries, div#divGenerosMovies{
    margin: 1%;
}
span{
    background: #333333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
h1 {
    color: white;
    font-family: georgia;
    font-weight: bold;
    margin: 1%;
    font-size: xx-large;
}
h3 {
    color: white;
    font-family: georgia;
    font-weight: bold;
    margin: 1%;
    font-size: x-large;
}
h4 {
    color: white;
    font-family: georgia;
    font-weight: bold;
    margin: 1%;
    font-size: large;
}
button{
    font-size: large;
    font-family: georgia;
    font-weight: 600;
    margin: 1%;
    background-color:#87dce2;
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: #008791;
    width: 11%;
    transition: box-shadow .3s;
}
button:hover{
    box-shadow: 0 0 10px #aef8fd;
}
p{
    margin: 1%;
}
label{
    font-family: georgia;
    font-size: large;
    color: white;
    margin: 5px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.6%;
    column-gap: 2%;
    margin: 1%;
}
section article a img{
    width: 100%;
    display: block;
}

@media (min-width: 768px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1.5%;
    }
}

@media (min-width: 1024px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1%;
        row-gap: 1.8%;
        margin-bottom: 3%;
    }
}