article.pelicula {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.8vh;
}

img.poster {
    width: 100%;

}

div.contenedor_poster {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 55% 40%;
    justify-content: space-between;
    background: #303030;
    border-radius: 5px;
}

div.descripcion_peli {
    width: 96%;
    padding: 10px;
    background: #303030;
    border-radius: 5px;
}

.descripcion_peli img{
    width: 100%;
}

h1 {
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: georgia;
}

p {
    margin: 0;
    color: white;
    font-family: georgia;
}

h3{
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: georgia;
}

.episodio_mobile{
    width: 96%;
    padding: 10px;
    background: #303030;
    border-radius: 5px;
}

.episodio_mobile img{
    width: 40%;
}

.acciones_usuario_mobile{
    padding: 10px;
    background: #303030;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
    justify-items: center;

}

.acciones_usuario_mobile img{
    width: 40%;
}

.contenedor_titulos_similares {
    width: 96%;
    padding: 10px;
    background: #303030;
    border-radius: 5px;
    margin-bottom: 0.8vh;
}

div.titulos_similares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.titulos_similares img {
    width: 100%;
    height: 100%;
    display:block;

}

#stars{
    width: 80%;
}
#sinopsistablet{
    display:none;
}
#titulotablet{
    display: none;
}
#peliculastablet{
    display: none;
}

.acciones_usuario_desktop{
    display: none;
}

.columna_acciones_y_similares{
    display: flex;
    justify-content: center;
}

.episodio_desktop {
    display: none;
}

/*solo para movie*/

iframe {
    display: none;
}

@media(min-width:768px){

#sinopsistablet{
    display:block;
}
#sinopsismobile{
    display: none;
}
h1{
    font-size: xx-large;
}
p{
    font-size: larger;
}
#titulomobile{
    display: none;
}
#titulotablet{
    display:block;
}
.episodio_mobile img{
    width: 22%;
}
div.titulos_similares{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#peliculastablet{
    display: block;
}

.acciones_usuario_mobile {
    display: none;
}

}
@media(min-width: 1024px){

    article.pelicula {
        grid-template-columns: 69% 30%;
        justify-content: space-around;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    div.contenedor_poster {
        grid-template-columns: 59% 40%;
    }
    div.titulos_similares{
        grid-template-columns: 1fr 1fr 1fr;
    }
    div.descripcion_peli {
        width: 100%;
        padding: 10px;
        background: #303030;
        border-radius: 5px;
    }

    .episodio_desktop img{
        width: 30%;
    }
    .descripcion_peli img{
        justify-self: end;
        height: 100%;
    }
    .episodio_mobile{
        display: none;
    }
    .episodio_desktop{
        display: block;
        padding: 10px;
        background: #3d3d3d;
        border-radius: 5px;
        margin-top: 15px;
    }

    img.poster{
        height: 499px;
    }


    div.contenedor_titulos_similares{
        width: 100%;
        margin: 0;
        height: fit-content;
    }
    h1#titulos_similares{
        font-size: x-large;
    }

    #stars {
        width: 40%;
        height: auto;
    }
    #peliculastablet{
        display: none;
    }

    .acciones_usuario_desktop{
        padding: 10px;
        background: #303030;
        border-radius: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .acciones_usuario_desktop img{
        width: 52%;
    }

    .columna_acciones_y_similares{
        display: grid;
        grid-template-columns: 1fr;
        gap: 7px;
    }
    
    /*solo para movie*/
    iframe {
        overflow: hidden; height: 190px;
        width: 100%;
        display: block;
    }

}