*{
    box-sizing: border-box;
}

/*para el scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(48, 48, 48);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 92, 92);
  }

/*para el footer*/
footer {
    background-color: rgb(34, 34, 34);
    height: auto;
    padding: 5vh;
    margin-top: 4vh;
}

#redes {
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    justify-content: center;
    align-items: center;

}

#links_footer {
    display: flex;
    margin-top: 4vh;
    align-content: center;
    justify-content: space-between;
    padding: 0 37vw 0 37vw;
    font-weight: bold;

}

#links_footer a {
    color: white;
    font-family: georgia;
    font-size: 10pt;
}

footer img {
    width: 36%;
}

footer h4 {
    margin: 4vh 0 0 0;
    color: white;
    font-family: georgia;
    font-size: 10pt;
    text-align: center;
}

.redes_sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes_sociales a {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*para el nav*/


nav .navegador{
    display: grid;
    grid-template-columns: 10% 40% 50%;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

nav div img {
    width: 90%;
    margin: 5px;
}

div .buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


div .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-left: 10px;
}

.boton_menu h2 {
    margin: 0;
    font-size: 19px;
}

div .botones_mobile {
    display: none;
}


.menu .boton_menu {
    height: 70%;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div {
    text-align: center;
}

input {
    width: 90%;
    height: 40%;
    border-radius: 30px;
    background: #303030;
    border: none;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background: rgb(22, 22, 22);
}

h2 {
    
     font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
     font-weight: lighter;
     margin: 0;
   
}

a{
    text-decoration: none;
    display: flex;
}

#logo_chico {
    display: none;
}

.h2mobile {
    display: none;
}

@media only screen and (max-width: 768px)
{
    /*para el footer*/

    footer {
        padding: 20px;
        margin-top: 0.8vh;
    }
  
    #redes {
        grid-template-columns: 10% 10% 10% 10%;
    }

    #links_footer {
        margin-top: 1.5vh;
        padding: 0 27vw 0 27vw;
    }

    footer h4 {
        margin: 1.5vh 0 0 0;
    }

  /*para el nav*/
    
    #logo_chico {
        display: block;
    }
    #logo_grande {
        display: none;
    }
    #boton_home{
        display: none;
    }
    .menu {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 420px)
{
    /*para el footer*/

    footer {
        display: none;
    }
  
    #redes {
        grid-template-columns: 20% 20% 20% 20%;
    }

    #links_footer {
        margin-top: 1.5vh;
        padding: 0 10vw 0 10vw;
    }

    footer h4 {
        margin: 1.5vh 0 0 0;
        font-size: 12pt;
    }

    #links_footer a {
        font-size: 12pt;
    }

  /*para el nav*/
    
    nav .menu #boton_movies,#boton_series {
        display: none;
    }

    nav .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    nav .navegador{
        grid-template-columns: 15% 50% 30%;
        justify-content: space-around;
        padding: 0;
    }

    .botones_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 5vh;
        align-items: center;
        justify-items: center;
    }

    .botones_mobile div {
        height: 70%;
        background-color: rgb(48, 48, 48);
        border-radius: 5px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .h2mobile {
        display: block;
        font-size: 10pt;
    }

    #boton_newreleases{
        display: none;
    }

    #boton_home{
        display: flex;
    }

}