
.listapeliculas article{
    padding: 2px;
}


h3{
    display: none;
}

.pelisipad{
    display: none;
}
.fotos{
    height: 170px;
    width: 113px;
}

.estrellas {
    display: none;
}
#TN{
    margin-top: 2vh;
    font-size: large;
    margin-left: 2%;
    margin-bottom: 2%;
}
.listapeliculas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
@media (min-width: 768px){
    .listapeliculas{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .listapeliculas article{
        padding: 3px;
    }
    h2{
        font-size: 25px;
        margin-top: 2%;
    }

    .pelisipad{
        display: block;
    }

    .fotos{
        height: 197px;
        width: 140px;
    }

    #TN{
        font-size: x-large;
    }

}
@media (min-width: 1024px){
    .listapeliculas{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    h2{
        font-size: 21px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 1%;
    }
    h3{
        font-size: 15px;
        font-weight: lighter;
        display: block;
        color: white;
        margin: 0;
        font-family: Georgia;
        margin-top: 3%;
    }

    .listapeliculas article {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fotos{
        height: 280px;
        width: 230px;
    }
    .estrellas {
        display: block;
        width: 45%;
        margin-top: 3%;
    }

    #TN{
        font-size: x-large;
        margin-top: 1%;
        margin-bottom: 0.5%;
    }

    .pelisipad{
        display: none;
    }

}


.AA{
    width: 125px;
    height: 200px;
}
.Action{
    display: grid;
    justify-content: space-between;
}