section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.6%;
    column-gap: 2%;
    margin: 2%;
}

section article a img{
    width: 100%;
    display: block;
}

@media (min-width: 768px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1.5%;
    }

    .ipad_hidden{
        display: none;
    }

    /*
    section article a img{
        height: 197px;
    } */
}

@media (min-width: 1024px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1%;
        row-gap: 1.8%;
        margin: 1%;
    }
    .ipad_hidden{
        display: block;
    }
    /*
    section article a img{
        height: 259px;
    }*/
}