div#spinner{
    text-align: center;
    margin: 20px;
}
div#spinner img{
    height: 100px;
}

#noFavs{
    padding-left: 20px;
    font-size: large;
    font-family: georgia;
    color: white;
}

#buscadorAvanzado{
    display: none;
}

#h1Yboton{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: space-between;

}

#contenedorBotonAdv{
    padding-right: 11%;
    display: flex;
    justify-content: flex-end;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.6%;
    column-gap: 2%;
    margin: 1%;
}

section article a img{
    width: 100%;
    display: block;
}

h1 {
    color: white;
    font-family: georgia;
    font-weight: bold;
    margin: 1%;
    font-size: xx-large;
}

@media (min-width: 768px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 1.5%;
    }

    .ipad_hidden{
        display: none;
    }

    /*
    section article a img{
        height: 197px;
    } */
}

@media (min-width: 1024px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1%;
        row-gap: 1.8%;
        margin-bottom: 3%;
    }
    .ipad_hidden{
        display: block;
    }
    /*
    section article a img{
        height: 259px;
    }*/
}

