.welcome{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bolder;
    align-items: center;
    margin-top: 5%;
    margin-left: 23%;
    margin-right: 10%;
}

body{
    background-image: url('../img/backgroung\ welcome.png');
}
.logowelcome{
    width: 200px;
    margin-left: 2%;
    margin-top: 2%;
}

.buttonwelcome{
    font-size: large;
    font-family: georgia;
    font-weight: 600;
    margin-top: 5px;
    background-color: #08daea;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #065c63;
    width: fit-content;
    transition: box-shadow .3s;
    
}

.inputwelcome{
 
    margin-left: 15%;
    width: 13%;
    background-color: transparent;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    border: white;
    border-radius: 5px;
    padding: 7px;  
    
}

.separacion{
    display: grid;
   grid-template-rows: 1,1;
   
}

input{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background: #303030;
    border: none;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width: 420px){
    body{
        background-image: url('../img/backgroung\ welcome\ mobile.png');
    }
    .logowelcome{
        width: 90%;
    }
    .form{
        margin-top: 40%;
    }
    .buttonwelcome{
        margin-top: 10%;
    }
}