nav .navegador{
    display: grid;
    grid-template-columns: 10% 30% 50%;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    padding-left: 1vw;
}

nav div img {
    width: 100%;
}

div .buscador {
    display: flex;
    align-items: center;
    justify-content: center;
}

div .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

div .botones_mobile {
    display: none;
}


.menu .boton_menu {
    height: 70%;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div {
    text-align: center;
}

input {
    width: 90%;
    height: 40%;
}

body {
    margin: 0;
    background: rgb(22, 22, 22);
}

h2 {
    
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: white;
     font-weight: lighter;
     margin: 0;
   
}

a{
    text-decoration: none;
}

#logo_chico {
    display: none;
}

.h2mobile {
    display: none;
}

@media only screen and (max-width: 768px)
{
    #logo_chico {
        display: block;
    }
    #logo_grande {
        display: none;
    }
    #boton_newreleases {
        display: none;
    }
    .menu {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media only screen and (max-width: 420px)
{
    nav .menu #boton_movies,#boton_series {
        display: none;
    }

    nav .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .navegador{
        grid-template-columns: 15% 50% 30%;
        justify-content: space-around;
        padding: 0;
    }

    .botones_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 5vh;
        align-items: center;
        justify-items: center;
    }

    .botones_mobile div {
        height: 70%;
        background-color: rgb(48, 48, 48);
        border-radius: 5px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .h2mobile {
        display: block;
        font-size: 10pt;
    }

}