nav{
    display:grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: space-between;

}
*{ background-color: black;
    
}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    gap: 15%;
    padding: 8%;
}

nav ul li a{
    text-decoration: none;
    color:rgb(10, 218, 233);
} 
nav ul li{
    list-style: none;
    color:rgb(10, 218, 233);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

nav div img{
    width: 100%;
    display: grid;
    padding: 20%;
}
nav div input{
    width: 100%;
    height: 25%;
    display: grid;
    margin-top: 35%;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: lighter;
}
h3{
    font-size: 14px;
    color: white;
    font-weight: 100;
    margin-top: 2%;
    margin-bottom: 2%;
}


.fotos{
    width: 125px;
    height: 200px;
    margin-top: 10%;
}
.raiting{
    width: 100px;
    height: auto;
}
    
/* diferenciar el raiting segun 3 y 4 estrellas xq la imagen es diferente*/ 

.estrellas{
    width: 80px;
    height: auto;
}
.trendingnow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}