nav{
    display:grid;
    grid-template-columns: 20% 40% 20%;
    justify-content: space-between;

}

*{ background-color: black;
    
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: -30%;
    gap: 17%;
    padding: 8%;
}

nav ul li a{
    text-decoration: none;
    color:rgb(10, 218, 233);
} 
nav ul li{
    list-style: none;
    color:rgb(10, 218, 233);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

#logo_mobile {
    width: 57%;
    margin-left: 2%;
    margin-top: 20%;
}

#logo_desktop {
    display: none;
}

nav div input{
    width: 115%;
    height: 23%;
    margin-left: -19%;
    display: grid;
    margin-top: 35%;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@media (min-width: 768px){
    nav{
        padding: 0 1vw 0 1vw;
    }

    nav div img{
        width: 80%;
        display: grid;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 0%;
    }
    nav ul{
        margin: 0;
        gap: 7vw;
        padding: 3vh;
    }
    nav ul li{
        font-size: 25px;
    }
    #logo_mobile {
        display: none;
    }
    
    #logo_desktop {
        width: 100%;
        display: block;
    }

    nav div input {
        margin-top: 3vh;
        height: 3vh;
    }
    
}
@media (min-width: 1024px){
    nav {
        padding: 0;
        grid-template-columns: 10% 40% 20%;
    }
    nav div img{
        margin-top: 10%;
        margin-bottom: 13%;
        margin-left: 9%;
    }
    nav ul{
        padding: 0;
        gap: 57%;
        margin-left: -5%;
    }
    nav ul li{
        font-size: 27px;
    }
    nav div input{
        margin: 0;
        height: 30%;
        width: 100%;
        margin-left: -43%
    }
    #menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

