
.trendingnow article{
    padding: 2px;
}

h2{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: lighter;
}
h3{
    font-size: 14px;
    color: white;
    font-weight: 100;
    margin-top: 2%;
    margin-bottom: 2%;
    display: none;
}


.fotos{
    width: 100%;
}
.raiting{
    width: 100px;
    height: auto;
    display: none;
}
    
/* diferenciar el raiting segun 3 y 4 estrellas xq la imagen es diferente*/ 

.estrellas{
    width: 80px;
    height: auto;
    display: none;
}
.trendingnow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
@media (min-width: 768px){
    .trendingnow{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .trendingnow article{
        padding: 3px;
    }
    h2{
        font-size: 25px;
        margin-top: 2%;
    }
    h3{
        font-size: 18px;
        font-weight: lighter;
    }
    .fotos{
        width: 100%;
    }
    .raiting{
        width: 95px;
        height: auto;
    }
    .estrellas{
        width: 50;
    }
}
@media (min-width: 1024px){
    .trendingnow{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    h2{
        font-size: 21px;
        margin-top: 2%;
    }
    h3{
        font-size: 19px;
        font-weight: lighter;
    }
    .fotos{
        width: 100%;
    }
    .raiting{
        width: 115px;
    }
    .estrellas{
        width: 90px;
    }
}

.AA{
    width: 125px;
    height: 200px;
}
.Action{
    display: grid;
    justify-content: space-between;
}