
.trendingnow article{
    padding: 2px;
}

h2{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: lighter;
}
h3{
    display: none;
}


.fotos{
    width: 100%;
}

.estrellas {
    display: none;
}

.trendingnow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
@media (min-width: 768px){
    .trendingnow{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .trendingnow article{
        padding: 3px;
    }
    h2{
        font-size: 25px;
        margin-top: 2%;
    }

    .fotos{
        width: 100%;
    }

}
@media (min-width: 1024px){
    .trendingnow{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    h2{
        font-size: 21px;
        margin: 3px 0 3px 0;
    }
    h3{
        font-size: 19px;
        font-weight: lighter;
        display: block;
        color: white;
        margin: 0;
        font-family: Georgia;
    }

    .trendingnow article {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .fotos{
        width: 100%;
    }
    .estrellas {
        display: block;
        width: 60%;
    }
}

.AA{
    width: 125px;
    height: 200px;
}
.Action{
    display: grid;
    justify-content: space-between;
}