article.pelicula {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
    gap: 0.8vh;
}

img.poster {
    width: 100%;
}

div.contenedor_poster {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 55% 40%;
    justify-content: space-between;
    background: #303030;
    border-radius: 5px;
}

div.descripcion_peli {
    width: 91%;
    padding: 10px;
    background: #303030;
    border-radius: 5px;
}

.descripcion_peli img{
    width: 100%;
}

h1 {
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: georgia;
}

p {
    margin: 0;
    color: white;
    font-family: georgia;
}

h3{
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: georgia;
}

.contenedor_titulos_similares {
    width: 91%;
    padding: 10px;
    background: #303030;
    border-radius: 5px;
    margin-bottom: 0.8vh;
}

div.titulos_similares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.titulos_similares img {
    width: 100%;
}

#stars{
    width: 80%;
}
#sinopsistablet{
    display:none;
}
#titulotablet{
    display: none;
}
#peliculastablet{
    display: none;
}
@media(min-width:768px){

#sinopsistablet{
    display:block;
}
#sinopsismobile{
    display: none;
}
p{
    font-size: larger;
}
#titulomobile{
    display: none;
}
#titulotablet{
    display:block;
}
div.titulos_similares{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#peliculastablet{
    display: block;
}
}
@media(min-width:1024px){
    
}