.FF{
    width: 125px;
    height: 200px;
}
.Generos section{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.Generos h2{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2%;
    font-size: x-large;
}

.pelisdesktop{
    display: none;
}

.pelisipad{
    display: none;
}

@media (min-width: 768px){
    .pelisipad{
        display: block;
    }
    .Generos section{
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .Generos h2{
        font-size: xx-large;
    }

    .FF{
        margin-top: 1%;
    }

}

@media (min-width: 1024px){
    .pelisdesktop{
        display: block;
    }

    .pelisipad{
        display: block;
    }

    .Generos section{
        display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .FF{
        width: 200px;
        height: 315px;
        margin-left: 3%;
    }

    .Generos h2{
        font-size: xx-large;
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 1%;
    }
}