.FF{
    width: 125px;
    height: 200px;
}
.Generos section{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

input[type="search"]{
    width:170px;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid rgb(10, 218, 233);
    background:black;
    transition:all 0.5s;
}
input[type="search"]:focus{
    background:#fff;
    width:300px;
    
}

.Generos h2{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.pelisdesktop{
    display: none;
}